# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Replit specific
.replit
.config
.upm
.breakpoints

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Local Netlify folder
.netlify

# Secret data
attached_assets/skin-lesion-443301-*.json
test-input.json

# Logs
logs/
*.log


# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Previous entries that are still relevant
*.key
*.p12
*.json.key
*-key.json
*-credentials.json
*-service-account.json
*-9fd70b8d7c77.json
skin-lesion-*.json


#Misc
.idea/
.vscode/
*.swp
*.swo
.replit.backup